*{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.row {
    display:flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-bottom: 5px solid rgb(70, 69, 69);
    height: 1000px;
    overflow:scroll

}


.column-games{
display: block;
font-size: 2rem;
border: 20px, solid black;
}

.background-image {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/background-sports.jpg");
    background-size: cover;
    background-position: center;
}

<<<<<<< HEAD
=======
.card-title {
    background-color: rgb(70, 69, 69);
    color: white;

}

#Upcoming-Games, #Game-Odds, #Player-Statistics {
    margin-left: 20px;
    margin-right: 20px;
}


>>>>>>> 991593bf891a9ca93c4b83d43d442a15b66f1510


@media only screen and (max-width: 600px) {...}

#UpcomingGames, .card-img-top{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }

      #Game-Odds, .card-img-top{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }    
      #Player-Statistics, .card-img-top{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
      }    

      